body {
  background-color: rgb(255, 254, 250);
  font-family: Arial, Helvetica, sans-serif;
}
.page {
  max-width: 800px;
  margin: auto;
}

h1 {
  color: rgb(179, 123, 93);
  border-bottom: 5px solid yellowgreen;
  font-family: fantasy;
  text-align: center;
}
h2 {
  color: rgb(179, 123, 93);
  border-bottom: 5px solid yellowgreen;
  font-family: fantasy;
}
.light {
  color: grey;
}

nav {
  padding: 0 0 15px 0;
}

a:hover {
  color: lightblue;
}
